// Tipografía
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$verde:#4CB8B3;
$rosa:#F53756;

// Tamaños de los Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;